@charset "utf-8";

/* 공통 */
.search_area {
	position: relative;
	margin-bottom: 1rem;
	font-size: 0;
}
.search_area.left {text-align: left;}
.search_area.center {text-align: center;}
.search_area.right {text-align: right;}

.btn_area {
	position: relative;
	margin-top: 1rem;
}
.btn_area.left {text-align: left;}
.btn_area.center {text-align: center;}
.btn_area.right {text-align: right;}

.btn_area .btn.f_left {float:left;}
.btn_area .btn.f_right {float:right;}

.btn_area > .btn:nth-of-type(n+2) {margin-left: 1rem;}

.paging_area {
	position: relative;
	margin-top: 2rem;
	text-align: center;
	font-size: 0;
}
.paging_area > a {
	display: inline-block;
	padding: 0 0.6rem;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2rem;
	text-align: center;
}

.paging_area > a:nth-of-type(n+2) {margin-left: 1rem;}

.input_area {
	position: relative;
	font-size: 0;
	line-height: 4rem;
}

.input_area .tilde {
	display: inline-block;
	margin: 0 0.5rem;
	font-size: 1.4rem;
    vertical-align: middle;
}

.editor_area {
	background-color: #fff;
	letter-spacing: 0;
}

#word_count {
	margin-top: 0.5rem;
	font-size: 1.4rem;
	text-align: right;
}

/* 파일 리스트 */

.file_list {
	position: relative;
	padding: 0.6rem 1rem;
	margin-top: 1rem;
	border: 0.1rem solid #999;
	background-color: #fff;
}

.file_list > li {
	position: relative;
	line-height: 3rem;
	font-size: 0;
}

.file_list .file_name {
	display: inline-block;
	max-width: 90%;
	padding-right: 0.6rem;
	font-size: 1.4rem;
	line-height: 3rem;
	vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file_list a.file_name:hover {
	color: #512f83;
	text-decoration: underline;
}
.file_list a::before {
	content: '';
	box-sizing: border-box;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
	background-image: url(/img/board/icon_download.png);
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
	filter: invert(59%) sepia(6%) saturate(2797%) hue-rotate(222deg) brightness(88%) contrast(95%);
}

.file_list img.del_btn {
	display: inline-block;
    width: 1.8rem;
    height: auto;
    vertical-align: middle;
    filter: invert(8%) sepia(100%) saturate(7028%) hue-rotate(0deg) brightness(108%) contrast(118%);
    cursor: pointer;
}

.file_list img.cancel_btn {
	display: inline-block;
    width: 1.8rem;
    height: auto;
    vertical-align: middle;
    filter: invert(70%) sepia(84%) saturate(492%) hue-rotate(63deg) brightness(102%) contrast(91%);
    cursor: pointer;
}

.file_list .new_txt{
	display: inline-block;
	font-size: 1.4rem;
	line-height: 3rem;
	vertical-align: middle;
	padding-right: 0.6rem;
}


/* 추가 입력하는 첨부파일*/

.insert_file_list {
	position: relative;
	padding: 0.6rem 1rem;
	margin-top: 1rem;
	border: 0.1rem solid #999;
	background-color: #fff;
}

.insert_file_list > li {
	position: relative;
	line-height: 3rem;
	font-size: 0;
}

.insert_file_list .insert_file_name {
	display: inline-block;
	max-width: 90%;
	padding-right: 0.6rem;
	font-size: 1.4rem;
	line-height: 3rem;
	vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.insert_file_list a.insert_file_name:hover {
	color: #512f83;
	text-decoration: underline;
}
.insert_file_list a::before {
	content: '';
	box-sizing: border-box;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
	background-image: url(/img/board/icon_download.png);
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
	filter: invert(59%) sepia(6%) saturate(2797%) hue-rotate(222deg) brightness(88%) contrast(95%);
}

.insert_file_list img.del_btn {
	display: inline-block;
    width: 1.8rem;
    height: auto;
    vertical-align: middle;
    filter: invert(8%) sepia(100%) saturate(7028%) hue-rotate(0deg) brightness(108%) contrast(118%);
    cursor: pointer;
}

.insert_file_list img.cancel_btn {
	display: inline-block;
    width: 1.8rem;
    height: auto;
    vertical-align: middle;
    filter: invert(70%) sepia(84%) saturate(492%) hue-rotate(63deg) brightness(102%) contrast(91%);
    cursor: pointer;
}


/* modify페이지 추가첨부파일 */

.file_list .insert_file_name {
	display: inline-block;
	max-width: 90%;
	padding-right: 0.6rem;
	font-size: 1.4rem;
	line-height: 3rem;
	vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}






.board_info_area {
	position: relative;
}

.board_title {
	position: relative;
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 3rem;
	word-break: keep-all;
	padding: 2rem 8rem 1rem 0;
}

.board_view_cnt {
	position: absolute;
	top: 3rem;
	right: 0;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
}

.board_view_cnt::before {
	content: '';
	box-sizing: border-box;
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	margin-right: 0.5rem;
	background-image: url(/img/board/icon_eye.png);
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
}

.board_view_cnt > span {
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	vertical-align: middle;
}

.board_info {
	position: relative;
	padding: 0.6rem 0;
	border-top: 0.1rem solid #999;
	border-bottom: 0.1rem solid #999;
}

.board_info > div {
	position: relative;
	display: flex;
}
.board_info > div:nth-of-type(n+2) {margin-top: 1rem;}
.board_info > div.between {justify-content: space-between;}

.board_info .profile {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: middle;
}

.board_info .writer,
.board_info .date {
	display: inline-block;
	line-height: 3rem;
	vertical-align: middle;
}

.board_info .writer {font-size: 1.6rem;}
.board_info .writer:nth-child(n+2) {margin-left: 0.5rem;}

.board_info .date {font-size: 1.4rem;}
.board_info .date:nth-child(n+2) {margin-left: 0.5rem;}

.board_content_area {
	position: relative;
    font-size: 1.6rem;
    padding: 3rem 0;
    min-height: 20rem;
    border-bottom: 0.1rem solid #999;
}

/* 댓글 */
.comm_area {
	position: relative;
	margin-top: 1rem;
}

.area-board-comm {
    padding: 1rem 0;
    border-bottom: 0.1rem solid #bbb;
}
.area-board-comm.reply {padding: 1rem 0 1rem 5rem;}

.comm_form {
	display: flex;
	margin-top: 1rem;
}

.comm_form .comm_textarea {
	width: calc(100% - 8rem);
	height: 9rem;
}

.comm_form button {
	width: 8rem;
	height: 9rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    background-color: #512f83;
    font-family: 'Noto Sans KR', sans-serif;
}

.comm_info {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.comm_info .profile {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	vertical-align: middle;
}

.comm_info .writer,
.comm_info .date {
	display: inline-block;
	line-height: 3rem;
	vertical-align: middle;
}

.comm_info .writer:nth-child(n+2),
.comm_info .date:nth-child(n+2) {
	margin-left: 0.5rem;
}

.comm_info .writer {font-size: 1.6rem;}
.comm_info .date {font-size: 1.4rem;}

.comm_txt {
	padding: 1rem 0;
}

.comm_btn {
	position: relative;
	text-align: right;
	line-height: 2rem;
    min-height: 2rem;
}

.comm_btn > .left {float: left;}
.comm_btn > a {
	font-size: 1.4rem;
	line-height: 2rem;
}
.comm_btn > a:nth-child(n+2) {margin-left: 1rem;}
.comm_btn > a.reply_show_btn::after {
	content: '';
	box-sizing: border-box;
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	margin: 0 0.5rem;
	background-image: url(/img/common/arrow_down_grey.png);
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
}

/* 공지사항 */
.notice_board {grid-template-columns: auto 7fr 2fr 2fr auto;}
.notice_board > div:nth-of-type(5n-4) {text-align: center;}
.notice_board > div:nth-of-type(5n-3) {text-align: left;}
.notice_board > div:nth-of-type(5n-2) {text-align: center;}
.notice_board > div:nth-of-type(5n-1) {text-align: center;}
.notice_board > div:nth-of-type(5n) {text-align: center;}
.notice_board > div.non_data {text-align: center;}

.notice_board > div > a {
	position: relative;
	display: inline-flex;
	max-width: 100%;
}
.notice_board > div > a > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.notice_board > div > a > span:nth-child(1) {padding-right: 0.5rem;}
.notice_board > div > a > span:nth-child(2) {width: 5rem;}


#fix_date_div {
	display: inline-block;
	margin-left: 1rem;
	vertical-align: middle;
}


/* 자유게시판 */
.free_board {grid-template-columns: auto 7fr 2fr 2fr auto;}
.free_board > div:nth-of-type(5n-4) {text-align: center;}
.free_board > div:nth-of-type(5n-3) {text-align: left;}
.free_board > div:nth-of-type(5n-2) {text-align: center;}
.free_board > div:nth-of-type(5n-1) {text-align: center;}
.free_board > div:nth-of-type(5n) {text-align: center;}
.free_board > div.non_data {text-align: center;}

.free_board > div > a {
	position: relative;
	display: inline-flex;
	max-width: 100%;
}
.free_board > div > a > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.free_board > div > a > span:nth-child(1) {padding-right: 0.5rem;}
.free_board > div > a > span:nth-child(2) {width: 5rem;}



/* 자료실 */
.pds_board {grid-template-columns: auto 7fr 4fr 2fr 2fr auto;}
.pds_board > div:nth-of-type(6n-5) {text-align: center;}
.pds_board > div:nth-of-type(6n-4) {text-align: left;}
.pds_board > div:nth-of-type(6n-3) {text-align: center;}
.pds_board > div:nth-of-type(6n-2) {text-align: center;}
.pds_board > div:nth-of-type(6n-1) {text-align: center;}
.pds_board > div:nth-of-type(6n) {text-align: center;}
.pds_board > div.non_data {text-align: center;}

.pds_board > div > a {
	position: relative;
	display: inline-flex;
	max-width: 100%;
}
.pds_board > div > a > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pds_board > div > a > span:nth-child(1) {padding-right: 0.5rem;}
.pds_board > div > a > span:nth-child(2) {width: 5rem;}



/* 회원관리 */
.member_list_brd {grid-template-columns: auto auto auto auto auto auto auto;}
.member_list_brd > div:nth-of-type(7n-6) {text-align: center;}
.member_list_brd > div:nth-of-type(7n-5) {text-align: center;}
.member_list_brd > div:nth-of-type(7n-4) {text-align: center;}
.member_list_brd > div:nth-of-type(7n-3) {text-align: center;}
.member_list_brd > div:nth-of-type(7n-2) {text-align: center;}
.member_list_brd > div:nth-of-type(7n-1) {text-align: center;}
.member_list_brd > div:nth-of-type(7n) {text-align: center;}
.member_list_brd > div.non_data {text-align: center;}

.member_list_brd > div > a {
	position: relative;
	display: inline-flex;
	max-width: 100%;
}
.member_list_brd > div > a > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.member_list_brd > div > a > span:nth-child(1) {padding-right: 0.5rem;}
.member_list_brd > div > a > span:nth-child(2) {width: 5rem;}

table{
	width: 100%;
	border-collapse: separate;
  	border-spacing: 0 10px;
  	display:flex;
  	justify-content:center;
}
td{
	margin : 2%;
}
tr{
	margin:1px;
}

.heart_icon{
    width:40%;
	height:40%;
	margin-left: 1.5rem;
	opacity: 0.8;
}

.blankheart_icon{
	cursor:pointer;
	width:40%;
	margin-left: 1.5rem;
	opacity: 0.8;
}

.page_title{
	text-align:center;
	margin-right: 3.5rem;
}


/* 회원등록 */

#create_form_btn{
 	text-align: center;
 	margin-top: 1rem;
    margin-right: 4rem;
}
#hire_dt{
	width: 57%;	
}
#insertbtn{
	width: 14.5rem;
}
#cancelbtn{
	margin-left: 1px;
    width: 5rem;
}

/* 메인에서 검색하는 회원 정보 리스트 */

.member_search_list {grid-template-columns: auto auto auto auto auto;}
.member_search_list > div:nth-of-type(5n-4) {text-align: center;}
.member_search_list > div:nth-of-type(5n-3) {text-align: center;}
.member_search_list > div:nth-of-type(5n-2) {text-align: center;}
.member_search_list > div:nth-of-type(5n-1) {text-align: center;}
.member_search_list > div:nth-of-type(5n) {text-align: center;}
.member_search_list > div.non_data {text-align: center;}

.member_search_list > div > a {
	position: relative;
	display: inline-flex;
	max-width: 100%;
}
.member_search_list > div > a > span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
}
.member_search_list > div > a > span:nth-child(1) {padding-right: 0.5rem;}
.member_search_list > div > a > span:nth-child(2) {width: 5rem;}




/* 회원수정 */

#updatebtn{
	width: 14.5rem;
}

/* Mobile (가로 800px 이하) */
@media screen and (max-width: 800px) {
	/* 공지사항 */
	.notice_board {grid-template-columns: 4fr 4fr auto auto;}
	
	.notice_board > div:nth-of-type(5n-4) {display: none;}
	.notice_board > div:nth-of-type(5n-3) {
		grid-column: span 4;
		border-bottom: 0;
		font-weight: 600;
	}
	.notice_board > div:nth-of-type(5n-2) {text-align: left;}
	.notice_board > div:nth-of-type(5n-1) {text-align: right;}
	.notice_board > div:nth-of-type(5n-1)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_time.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	}
	.notice_board > div:nth-of-type(5n) {
		grid-column: span 2;
		text-align: left;
	}
	.notice_board > div:nth-of-type(5n)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_eye.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	}
	
	
	/*자유게시판*/
	.free_board {grid-template-columns: 4fr 4fr auto auto;}
	
	.free_board > div:nth-of-type(5n-4) {display: none;}
	.free_board > div:nth-of-type(5n-3) {
		grid-column: span 4;
		border-bottom: 0;
		font-weight: 600;
	}
	.free_board > div:nth-of-type(5n-2) {text-align: left;}
	.free_board > div:nth-of-type(5n-1) {text-align: right;}
	.free_board > div:nth-of-type(5n-1)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_time.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	}
	.free_board > div:nth-of-type(5n) {
		grid-column: span 2;
		text-align: left;
	}
	.free_board > div:nth-of-type(5n)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_eye.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	}
	
	
	/*자료실*/
	.pds_board {grid-template-columns: 4fr 4fr auto auto;}
	
	.pds_board > div:nth-of-type(6n-5) {display: none;}
	.pds_board > div:nth-of-type(6n-4) {
		grid-column: span 4;
		border-bottom: 0;
		font-weight: 600;
	}
	.pds_board > div:nth-of-type(6n-3) {
		grid-column: span 4;
		border-bottom: 0;
		text-align: left;
	}
	.pds_board > div:nth-of-type(6n-3)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_download.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	}
	.pds_board > div:nth-of-type(6n-2) {text-align: left;}
	.pds_board > div:nth-of-type(6n-1) {text-align: right;}
	.pds_board > div:nth-of-type(6n-1)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_time.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	}
	.pds_board > div:nth-of-type(6n) {
		grid-column: span 2;
		text-align: left;
	}
	.pds_board > div:nth-of-type(6n)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_eye.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	}
	.pds_board > div.no_file {display: none;}
	
	
	/*회원리스트*/
	.member_list_brd {grid-template-columns: 4fr 4fr auto auto;}
	
	.member_list_brd > div:nth-of-type(5n-4) {
		display: none;
	}
	.member_list_brd > div:nth-of-type(5n-3) {
		grid-column: span 4;
		border-bottom: 0;
	}
	.member_list_brd > div:nth-of-type(5n-2) {
		text-align: left;
	}
	.member_list_brd > div:nth-of-type(5n-1) {
		text-align: right;
	}
	.member_list_brd > div:nth-of-type(5n-1)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_time.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	}
	.member_list_brd > div:nth-of-type(5n) {
		grid-column: span 2;
		text-align: left;
	}
	.member_list_brd > div:nth-of-type(5n)::before {
		content: '';
		box-sizing: border-box;
		display: inline-block;
		width: 1.3rem;
		height: 1.3rem;
		margin-right: 0.4rem;
		background-image: url(/img/board/icon_eye.png);
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align: middle;
	
	}
	
}

/* Mobile (가로 480px 이하) */
@media screen and (max-width: 480px) {
	/* 공통 */
	.board_info .date {
		display: block;
		text-align: right;
	}
	.board_info .date:nth-child(n+2) {margin-left: 0;}
	
	/* 댓글 */
	.area-board-comm.reply {padding: 1rem 0 1rem 3.5rem;}
	
	.comm_form .comm_textarea {width: calc(100% - 5rem);}
	.comm_form button {width: 5rem;}
	
	/* 공지사항 */
	#fix_date_div {
		display: block;
		margin-left: 0;
	}
	
}